
/* Estilo geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sora', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0652e9;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #62e1e9;
    transform: scale(1.05);

}

h2.titulos{
    color:#0652e9;
    font-size: 38px;
    text-align: center;
}

/* Fim da estilização geral */


/* Estilo cabeçalho */

header{
    padding: 0px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;

}

/* Fim do cabeçalho */



/* Estilo Topo do Site */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/*  
@keyframes flutuar{
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}
*/
.img-topo-site img{
    border-radius: 0%;
}

/* Fim do topo do site */

/* Minhas especialidades */

section.especialidades{
    padding: 40px 4%;
    
    
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color:#0652e9;
    align-items: center;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;


}

/* Fim das minhas especialidades */

/*Estilo Sobre */

section.sobre{
    padding: 90px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;

}



.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    display: block;
    color: #0652e9;

}

.sobre .txt-sobre p{
    text-align: justify;
    margin: 20px 0;
}

.btn-social button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #0652e9;
    font-size: 22px;
    cursor: pointer;
    margin: 10px 10px 10px;
    transition: .2s;
}

.sobre .img-sobre img{
    border-radius: 20%;
}

/* Fim do sobre */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;

}
.img-port{
    width: 360px;
    height: 460px;
    background-color:#0652e9;
    cursor: pointer;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilo footer */

footer{
    padding: 10px 4%;
}

footer .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .line-footer{
    padding: 10px 0;
}

.borda{
    border-top: 2px solid #0652e9;
}

footer .line-footer p i{
    color: #0652e9;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

/* Estilo geral */

@media (max-width: 768px) {
    .interface{
        max-width: 100%;
        padding: 0 10px;
    }
}

/* Estilo cabeçalho */

@media (max-width: 768px) {
    header nav ul li{
        padding: 0 20px;
    }
}

/* Estilo Topo do Site */

@media (max-width: 768px) {
    section.topo-do-site .flex{
        flex-direction: column;
    }
}

/* Minhas especialidades */

@media (max-width: 768px) {
    section.especialidades .flex{
        flex-direction: column;
        gap: 30px;
    }
}

/* Estilo Sobre */

@media (max-width: 768px) {
    section.sobre .flex{
        flex-direction: column-reverse;
        gap: 30px;
    }
}

/* Portfólio */

@media (max-width: 768px) {
    section.portfolio .flex{
        flex-direction: column;
        gap: 30px;
    }
}
